$white_color: rgba(255,255,255, 0.7);
$shadow_color: darken($white_color, 80%);

body {
  background: blue url('../images/angel_white.png');
  background-repeat:no-repeat;
  background-position: center top;
  //color:$shadow_color;
}

h1,h2,h3,h4 {
  color: $white_color !important;
  text-shadow: 1px 2px 3px $shadow_color;
}

.angel-number-output-wrapper {
  font-size:0.7em !important;
}