body {
  background: blue url("../images/angel_white.png");
  background-repeat: no-repeat;
  background-position: center top; }

h1, h2, h3, h4 {
  color: rgba(255, 255, 255, 0.7) !important;
  text-shadow: 1px 2px 3px rgba(51, 51, 51, 0.7); }

.angel-number-output-wrapper {
  font-size: 0.7em !important; }

/*# sourceMappingURL=main.css.map */
